<!-- Topbar Start -->
<app-header></app-header>
<!-- Topbar End -->


<!-- Checkout Start -->
<form [formGroup]="checkoutForm">
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
      <div class="col-lg-8">
          <div class="mb-4">
              <h1 class="font-weight-semi-bold mb-4">Customer purchasing information</h1>
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label>Name</label>
                      <input formControlName="order_name" class="form-control" type="text" placeholder="Enter your name">
                      <div *ngIf="checkoutForm.controls['order_name']?.errors && checkoutForm.controls['order_name'].dirty" class="text-danger">
                        <div *ngIf="checkoutForm.controls['order_name']?.errors?.required">Name is required</div>
                      </div>
                  </div>

                  <div class="col-md-3 form-group">
                    <label for="gender">Gender</label>
                    <select formControlName="order_gender" (change)="onChange()" class="form-control" name="gender">
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                    </select>
                    <div *ngIf="checkoutForm.controls['order_gender'].errors && checkoutForm.controls['order_gender'].dirty" class="text-danger">
                      <div *ngIf="checkoutForm.controls['order_gender'].errors.required"> Gender is required</div>
                    </div>
                  </div>

                  <div class="col-md-6 form-group">
                      <label>Phone number</label>
                      <input formControlName="order_phone" class="form-control" type="phone" placeholder="Enter phone number">
                      <div *ngIf="checkoutForm.controls['order_phone']?.errors && checkoutForm.controls['order_phone'].dirty" class="text-danger">
                        <div *ngIf="checkoutForm.controls['order_phone']?.errors?.required">Phone is required</div>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Street</label>
                            <input formControlName="order_street" class="form-control" type="text" placeholder="VD: 190 cao lỗ,...">
                            <div *ngIf="checkoutForm.controls['order_street'].errors && checkoutForm.controls['order_street'].dirty" class="text-danger">
                              <div *ngIf="checkoutForm.controls['order_street'].errors.required"> Street is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Wards</label>
                            <input formControlName="order_wards" class="form-control" type="text" placeholder="VD: Phường 4,...">
                            <div *ngIf="checkoutForm.controls['order_wards'].errors && checkoutForm.controls['order_wards'].dirty" class="text-danger">
                              <div *ngIf="checkoutForm.controls['order_wards'].errors.required"> Wards is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>District</label>
                            <input formControlName="order_district" class="form-control" type="text" placeholder="VD: Quận 8,...">
                            <div *ngIf="checkoutForm.controls['order_district'].errors && checkoutForm.controls['order_district'].dirty" class="text-danger">
                              <div *ngIf="checkoutForm.controls['order_district'].errors.required"> District is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>City</label>
                            <input formControlName="order_city" class="form-control" type="text" placeholder="VD: Hồ Chí Minh,...">
                            <div *ngIf="checkoutForm.controls['order_city'].errors && checkoutForm.controls['order_city'].dirty" class="text-danger">
                              <div *ngIf="checkoutForm.controls['order_city'].errors.required"> State is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="col-md-12 form-group">
                    <label>Note</label>
                    <input formControlName="note" class="form-control" type="text" placeholder="Lưu ý (không bắt buộc)">
                </div>
              </div>
          </div>
      </div>

      <div class="col-lg-4">
          <div  class="card border-secondary mb-5">
              <div class="card-header bg-secondary border-0">
                  <h4 class="font-weight-semi-bold m-0">Order Total</h4>
              </div>
              <div class="card-body">
                  <h5 class="font-weight-medium mb-3">Products</h5>
                  <div *ngFor="let item of cartData" class="d-flex justify-content-between">
                      <p>{{item.product_id.name}}</p>
                      <h4 class="mid">x{{item.qty}}</h4>
                      <p>{{item.total | currency:'VND':'symbol':'1.0-0' }}</p>
                  </div>
                  <hr class="mt-0">
                  <div class="d-flex justify-content-between mb-3 pt-1">
                    <h6 class="font-weight-medium">Discount Price</h6>
                    <h6 class="font-weight-medium">{{ getDiscountPrice() | currency:'VND':'symbol':'1.0-0' }}</h6>
                  </div>
                  <div class="d-flex justify-content-between">
                    <h6 class="font-weight-medium">Shipping</h6>
                    <h6 class="font-weight-medium">Free ship</h6>
                  </div>
              </div>
              <div class="card-footer border-secondary bg-transparent">
                  <div class="d-flex justify-content-between mt-2">
                    <h2 class="font-weight-bold">Total</h2>
                    <h2 class="font-weight-bold">{{ getTotalPrice() | currency:'VND':'symbol':'1.0-0' }}</h2>
                  </div>
              </div>
          </div>
          <div class="card border-secondary mb-5">
              <div class="card-header bg-secondary border-0">
                  <h4 class="font-weight-semi-bold m-0">Payment</h4>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="payment" id="paypal" checked [(ngModel)]="selectedPaymentMethod" value="1">
                    <label class="custom-control-label" for="paypal">Thanh toán khi nhận hàng</label>
                  </div>
                </div>
              </div>
              <div class="card-footer border-secondary bg-transparent">
                  <button (click)="edit(cartData)" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Confirm</button>
                  <!-- <div> {{cartData | json }}</div> -->
              </div>
          </div>
        </div>
      </div>
    </div>
</form>
<!-- Checkout End -->


<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->



