<h2 mat-dialog-title>Add new user</h2>
<hr>
<mat-dialog-content>
  <div class="modal-body">
    <!-- Bạn có thể thêm biểu mẫu đăng ký vào đây -->
    <form [formGroup]="registerForm">
      <div class="form-group">
        <label for="name">Họ và tên:</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Nhập họ và tên">
        <div *ngIf="registerForm.controls['name'].errors && registerForm.controls['name'].dirty" class="text-danger">
          <div *ngIf="registerForm.controls['name'].errors.required"> Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="Nhập email">
        <div *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].dirty" class="text-danger">
          <div *ngIf="registerForm.controls['email'].errors.required"> Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu:</label>
        <input formControlName="password" type="password" class="form-control" id="password" placeholder="Nhập mật khẩu">
        <div *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].dirty" class="text-danger">
          <div *ngIf="registerForm.controls['password'].errors.required"> Password is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Địa chỉ:</label>
        <input formControlName="address" type="text" class="form-control" id="address" placeholder="Nhập địa chỉ">
        <div *ngIf="registerForm.controls['address'].errors && registerForm.controls['address'].dirty" class="text-danger">
          <div *ngIf="registerForm.controls['address'].errors.required"> Address is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Điện thoại:</label>
        <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
        <div *ngIf="registerForm.controls['phone'].errors && registerForm.controls['phone'].dirty" class="text-danger">
          <div *ngIf="registerForm.controls['phone'].errors.required"> Phone is required</div>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="d-flex justify-content-end">
  <!-- <button mat-button (click)="onNoClick()">Cancel</button> -->
  <div class="text-center">
    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="onNoClick()"
      type="button"
      class="btn btn-danger"> Cancel </button>

    <button
      [style]="{
        'min-width': '80px'
      }"
      (click)="register()"
      type="button"
      class="btn btn-primary m-lg-2"> Submit </button>
  </div>
</mat-dialog-actions>
<!-- [disabled]="registerForm.invalid" -->
