<app-header></app-header>

<!-- Cart Start -->
    <div class="container-fluid pt-5" >
      <div  class="row px-xl-5">
          <div class="col-lg-8 table-responsive mb-5">
              <table class="table table-bordered text-center mb-0">
                  <thead class="bg-secondary text-dark">
                      <tr>
                          <th>Products</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                          <th>Remove</th>
                      </tr>
                  </thead>
                  <tbody class="align-middle">
                    <ng-container *ngIf="cartData.length > 0; else noData">
                      <tr *ngFor="let item of cartData">
                          <td  class="align-middle">
                            <img [src]="item.product_id.img" alt="" style="float: left; width: 50px;">
                             {{item.product_id.name}}
                          </td>
                          <td class="align-middle">{{item.product_id.price | currency:'VND':'symbol':'1.0-0'}}</td>

                          <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">
                              <div class="input-group-btn">
                                <button class="btn btn-sm btn-primary btn-minus" (click)="decrementQty(item)">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </div>
                              <input type="text" class="form-control form-control-sm bg-secondary text-center" value="{{ item.qty }}">
                              <div class="input-group-btn">
                                <button [disabled]="item.qty >= item.product_id.qty" class="btn btn-sm btn-primary btn-plus" (click)="incrementQty(item)">
                                  <i class="fa fa-plus"></i>
                                </button>
                              </div>
                            </div>
                          </td>


                          <td class="align-middle">{{ (item.product_id.price * item.qty) | currency:'VND':'symbol':'1.0-0' }}</td>

                          <td class="align-middle"><button (click)="deleteAll(item)" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button></td>
                      </tr>
                      <br>
                      <div class="col-sm-15 mb-3 mb-m-1 order-md-1 text-md-left">
                        <a routerLink="/products">
                            <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                      </div>
                    </ng-container>
                    <ng-template #noData>
                      <tr>
                        <td colspan="5" class="text-center">
                          <div>
                            No items in the cart
                          </div>
                          <br>
                          <div class="col-sm-15 mb-3 mb-m-1 order-md-1 text-md-left">
                            <a routerLink="/products">
                                <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
              </table>
          </div>
          <div class="col-lg-4" >
              <form class="mb-5" action="">
                  <div class="input-group">
                      <input type="text" class="form-control p-4" placeholder="Coupon Code">
                      <div class="input-group-append">
                          <button class="btn btn-primary">Apply Coupon</button>
                      </div>
                  </div>
              </form>
              <div class="card border-secondary mb-5">
                  <div class="card-header bg-secondary border-0">
                      <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                  </div>
                  <div class="card-body">
                      <div class="d-flex justify-content-between mb-3 pt-1">
                          <h6 class="font-weight-medium">Subtotal</h6>
                          <h6 class="font-weight-medium">{{ getTotalPrice() | currency:'VND':'symbol':'1.0-0' }}</h6>
                      </div>
                      <div class="d-flex justify-content-between">
                          <h6 class="font-weight-medium">Shipping</h6>
                          <h6 class="font-weight-medium">Free ship</h6>
                      </div>
                  </div>
                  <div class="card-footer border-secondary bg-transparent">
                      <div class="d-flex justify-content-between mt-2">
                          <h2 class="font-weight-bold">Total</h2>
                          <h2 class="font-weight-bold">{{ getTotalPrice() | currency:'VND':'symbol':'1.0-0' }}</h2>
                      </div>
                      <button *ngIf="isLoggedIn" routerLink="/checkout" class="btn btn-block btn-primary my-3 py-3">Purchase</button>
                  </div>
              </div>
          </div>
      </div>
  </div>



<app-footer></app-footer>
