<form action="" class="form-inline" method="post" role="form">
  <button type="submit" (click)="add()" class="btn btn-primary">Add new</button>
</form>

<hr>

<div class="mat-elevation-z8" id="father">
  <table class="table" style="min-height: 500px;">
    <thead class="head">
      <tr>
        <th>No.</th>
        <th>Image</th>
        <th style="width: 150px;">Name Product</th>
        <th>Price</th>
        <th>Quanlity</th>
        <th>Category Product</th>
        <th>Brand Product</th>
        <th style="width: 120px;">Created Time</th>
        <th style="width: 120px;">Updated Time</th>
      </tr>
    </thead>
      <tbody>
        <tr *ngFor="let item of products | paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index">
          <td scope="row">{{ (currentPage - 1) * 5 + i + 1 }}</td>
          <details>
            <summary>
              <td>
              <img (click)="viewImage(item?.img)" style="width: 50px; height: 50px; border-radius: 9rem;" src="{{ item?.img }}">
            </td></summary>
            <table>
              <tr>

                <td>
                  <div *ngFor="let img of item?.productImages">
                    <img (click)="viewImage(img?.img)" style="width: 50px; height: 50px; border-radius: 9rem;" src="{{ img?.img }}">
                  </div>
                </td>
              </tr>
            </table>
          </details>
          <td>{{item?.name}}</td>
          <td>{{ item?.price | currency:'VND' }}</td>
          <td>{{item?.qty}}</td>
          <td>{{getCategoryName(item?.categoryId?.id) | titlecase}}</td>
          <td>{{getBrandName(item?.brandId?.id) | titlecase}}</td>
          <td>{{ item?.created_time | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>{{ item?.updated_time | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td>
            <button (click)="update(item)" class="btn btn-primary mr-1" >Update</button>
            <button class="btn btn-danger mr-1" (click)="deleteProduct(item)">Delete</button>
          </td>
        </tr>
      </tbody>
  </table>
  <div class="pagination">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    <span style="margin-left: 6px; margin-top: 4px;"> {{ products?.length }} Items </span>
  </div>
</div>

