/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
  margin-right: 30px;
}


.filter-header .fa-filter-active {
  color: blue; // Màu sắc hoặc hiệu ứng khác khi dropdown đang được hiển thị
}
