<app-header></app-header>

<div class="container mt-5">
  <div class="row">
      <div style="margin-left: 88px; padding-right: 25px;" class=" col-lg-4 pb-5">
          <!-- Account Sidebar-->
          <div class="author-card pb-3">
              <div class="author-card-cover" style="background-image: url(https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg);"></div>
              <div class="author-card-profile">
                  <div class="author-card-avatar"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Daniel Adams">
                  </div>
                  <div *ngFor="let item of currentUser" class="author-card-details">
                    <h5 class="author-card-name text-lg">{{item.name}}</h5><span class="author-card-position">Create {{ item?.created_time | date: 'EEEE, dd/MM/yyyy ' }}
                    </span>
                </div>
              </div>
          </div>
          <div class="wizard">
              <nav class="list-group list-group-flush">
                <a routerLink="/orders-list" class="list-group-item active" routerLinkActive="active">
                  <i class="fe-icon-shopping-bag mr-1 text-muted"></i>Orders List
                </a>
                  <a routerLink="/user-info" class="list-group-item" routerLinkActive="active">
                    <i class="fe-icon-user text-muted"></i>Profile Settings
                </a>

              </nav>
          </div>
      </div>
      <!-- Profile Settings-->
      <div class="col-lg-6 pb-5">
        <div class="right-side">
          <div class="receipt">
            <h4 class="receipt-heading"><b>Address information</b></h4>
            <mat-card style="padding: 10px;" class="card" *ngFor="let item of orderProductDetails">
              <!-- <mat-card-header>
                <mat-card-title><strong>Giá tiền: {{item?.totalPrice| currency:'VND'}} </strong> </mat-card-title>
              </mat-card-header> -->
              <mat-card-content>
                  <td>
                      <div class="delivery-info">
                        <p><strong>Tên người nhận:</strong> {{ item?.orderId?.order_name | titlecase }}</p>
                        <p><strong>Số điện thoại:</strong> {{ item?.orderId?.order_phone }}</p>
                        <p><strong>Địa chỉ:</strong> {{ item?.orderId?.order_street }} {{ item?.orderId?.order_ward }} {{ item?.orderId?.order_district }} {{ item?.orderId?.orde_city }}</p>
                        <p><strong>Phương thức thanh toán:</strong> {{ item?.orderId?.paymentMethodId?.methodName }}</p>
                        <p><strong>Ghi chú:</strong> {{ item?.orderId?.note }}</p>
                        <p><strong>Trạng thái đơn hàng:</strong> {{getStatusName(item?.orderId?.status) }}</p>
                      </div>
                    </td>
              </mat-card-content>
              <br>
              <mat-card-actions >
                <div class="text-center" style="display: flex; align-items: center;">
                  <button
                  [style]="{
                    'min-width': '150px',
                    'height': '30px',
                    'margin-right': '20px'
                  }"
                  (click)="detail(item)"
                  type="button"
                  class="btn btn-primary m-lg-2"> Chi tiết đơn hàng
                </button>

                <div *ngIf="checkStatus(item?.orderId?.status) === 'cancelable'">
                  <button
                    type="button"
                    [style]="{
                      'min-width': '150px',
                      'height': '30px',
                      'margin-right': '20px'
                    }"
                    class="btn btn-danger"
                    (click)="cancelOrder(item?.orderId)">
                    <i class="fa-solid fa-lock"></i> Cancel
                  </button>
                </div>

                <div *ngIf="checkStatus(item?.orderId?.status) === 'non-cancelable'">
                  <!-- Nút không hoạt động, không có sự kiện click -->
                  <button
                    type="button"
                    [style]="{
                      'min-width': '150px',
                      'height': '30px',
                      'margin-right': '20px'
                    }"
                    class="btn btn-danger disabled">
                    <i class="fa-solid fa-lock"></i> Cancel
                  </button>
                </div>

                <div *ngIf="checkStatus(item?.orderId?.status) === 'received-or-cancel'">
                  <button
                    type="button"
                    [style]="{
                      'min-width': '150px',
                      'height': '30px',
                      'margin-right': '10px'
                    }"
                    class="btn btn-success"
                    (click)="confirmReceived(item?.orderId, 4)">
                    Đã nhận được hàng
                  </button>
                  <button
                    type="button"
                    [style]="{
                      'min-width': '150px',
                      'height': '30px',
                    }"
                    class="btn btn-danger"
                    (click)="cancelOrder(item?.orderId)">
                    <i class="fa-solid fa-lock"></i> Cancel
                  </button>
                </div>


                </div>
              </mat-card-actions>

            </mat-card>
          </div>
        </div>
      </div>
    </div>
</div>



<app-footer></app-footer>
